/* ---------- About ----------- */
#about-container {
	.about-description {
		text-align: justify;

		section {
			padding-bottom: 3rem;
			margin: 1rem auto 3rem;
			padding: .5rem 1.5rem;
			max-width: 900px;
			display: block;

			ul {
				width: 65%;
				margin: auto;
			}
		}

		h1 {
			margin: 2rem 0;
		}
	}

	@media screen and (max-width: 800px) {
		.about-description {
			width: 100%;

			section {
				text-align: left;

				ul {
					width: 100%;
					margin: 0;
					padding-left: 1.3rem ;
				}
			}
		}		
	}
}


/* ---------- Statistics ----------- */
#statistics {
	background-color: $secondary;
	padding-top: 1.5rem;
	justify-content: center;
	display: flex;

	.statistic {
		width: 30%;
		display: block;
		color: $white;
		padding: 2.3rem;
	
		span {
			padding-left: .5rem;
		}	

		header {
			display: flex;
		
			.icon {
				color: $white;
				margin-top: 0.7rem;
			}

			.icon-map-marker {
				width: 20px;
				height: 30px;
			}
			
			.icon-briefcase {
				width: 35px;
				height: 40px;
			}

			.icon-users {
				width: 50px;
				height: 60px;
				margin-top: .2rem;
			}

			p {
				margin: .8rem !important;
				font-size: 1.3rem;
				
				span {
					font-size: 1.5rem;
				}
			} 

			.f-sm {
				font-size: 1.1rem;
			}
		}
	}

	@media screen and (max-width: 800px) {
		display: block;

		.statistic {
			min-width: 90%;
			display: block;
			padding: 1.5rem .5rem;
			margin: 1rem;
			margin-top: 0 !important;

			header {
				font-size: 3rem;
				
				.icon {
					display: block;
				}

				.icon-map-marker {
					width: 30px;
					height: 40px;
				}
				
				.icon-briefcase {
					width: 35px;
					height: 40px;
				}

				.icon-users {
					margin-top: .5rem;
					width: 60px;
					height: 35px;
				}
				
				p {
					span {
						font-size: 1.7rem; 
					}
				}
			}

			#sold-computers {
				width: 60%;	

			}
			
			h1 {
				font-size: 3rem;
				text-align: left;
			}
		}

		#sold-computers {
			width: 40%
		}
	}
}

	@media screen and (max-width: 450px) {
		.icon-map-marker {
			width: 30px;
			height: 35px !important;
		}
		
		.icon-briefcase {
			width: 50px !important;
			height: 55px !important;
		}

		.icon-users {
			margin-top: .5rem;
			width: 60px;
			height: 40px !important;
		}
	}

/* ---------- Partners ----------- */
#partners {
	max-width: 1200px;
	margin: auto;

	.logos {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 3rem 0;

		img {
			height: 30px;
			margin: .8rem .5rem;
		}

		#hp-logo {
			height: 40px;
		}
	}

	@media screen and (max-width: 800px) {
		.logos {
			margin: 1.5rem;
			padding: 1rem;

			img {
				height: 20px;
			}
		}
	}
}
