#about-container {
	.about {
		display: flex;
		margin: auto;

		img {
			width: 50%
		}
		
		.about-description {
			padding: 0 2.5rem 0 3rem;

			h1 {
				margin: 1rem 0 !important;
				font-size: 4rem;
			}

		}
	}	

	.statistics {
		background-color: $primary;
		margin-top: 3rem;

		.experience {
			display: block;
			margin: 0 auto;
	

			header {
				display: flex;
			
				img {
					margin-right: 1rem;
					width: 30px;
				}

				h2 {
					color: $white;
					font-size: 1.5rem;
				} 
			}
		}
	}

	form {
		margin: 5rem auto 1rem;
		max-width: 700px;

		h3 {
			margin-bottom: 1rem;
		}
	}
}
