/* ---------- VARIABLES ----------- */
$white: #fff;

$primary: #09091d;
$light-primary: #e9e1d6;
$dark-primary: #c5b9a9;
$very-dark-primary: #2a4898;
$second-primary: #cf694a;

$secondary: #888;
$light: #e7e7e7;
$light-gray: #ccc;
$dark-gray: #636363;
$very-dark-gray: #121212;

$fb-color: #baae9c;
$yt-color: #ed1b24;
$in-color: #e0d5c5;
$ig-color: #fc6149;
$twtr-color: #d4c6b3;
$mail-color: #d4c4ae;

$box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.2), 0px 10px 14px 1px rgba(0,0,0,0.14), 0px 4px 18px 3px rgba(0,0,0,0.12);
$light-box-shadow: 0 13px 42px 11px rgba(0,0,0,.05);


/* ---------- RESETS ----------- */

/* ---------- MIXINS AND FUNCTIONS ----------- */

// ------ FOR THE LIKE HEART ANIMATION

