/* ---------- VARIABLES ----------- */
// Basic colors
$white: #fff;
$red: #cb0c0e;
$light-red: #fabebe;
$light-blue: #beeefa;
$light-green: #c7ffcb;

// Primary colors
$primary: #09091d;
$_primary: 09091d;
$light-primary: lighten($primary, 30%);
$dark-primary: darken($primary, 30%);
$second-primary: #075be2;

// Secondary colors
$secondary: #cb0c0e;
$_secondary: cb0c0e;
$light: #f2f2f2;
$light-gray: #ccc;
$dark-gray: #636363;
$very-dark-gray: #121212;
$dark: #212529;

// Social networks colors
$fb-color: #45619d;
$in-color: #0097d3;
$twtr-color: #2caae1;
$mail-color: #52abd9;

// Box shadows
$box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.2), 0px 10px 14px 1px rgba(0,0,0,0.14), 0px 4px 18px 3px rgba(0,0,0,0.12);
$light-box-shadow: 0 13px 42px 11px rgba(0,0,0,.05);


/* ---------- RESETS ----------- */

/* ---------- MIXINS AND FUNCTIONS ----------- */
