/* ---------- Cookies Agreement ----------- */
#cookies-agreement {
    z-index: 200;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .6rem .5rem .6rem;
    background: $dark-gray;
    text-align: center;

    span {
        display: inline-block;
        color: $white;
        margin-right: 1.3rem;
    }

	a {
		color: $white;

		&:hover {
			color: $light-gray;
		}
	}

	.btn {
		padding: .5rem;
		margin-top: .6rem;
	}
}
