/* ---------- Hero ----------- */
#home-hero {
	position: relative;

	.overlay {
		width: 100%;
		height: 70vh;
		position: absolute;
		top: 0;
		left: 0;
		background: #000;
		opacity: .3;
	}

	img {
		width: 100%;
		height: 70vh;
		z-index: -1;
	}

	.title {
		position: absolute;
		color: $white;
		top: 30%;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		//position: sticky;
		//top: 0; /* required */


		h1 {
			font-weight: 500;
			margin: 0;
			font-size: 4.3rem;
		}

		p {
			margin-top: .7rem;
			font-size: 1.5rem;
		}
	}
}
#services {
	.service {
		display: flex;
		max-width: 80%;
		margin: 3rem auto;
		
		.service-img-container {
			width: 40%;
			margin: auto;
			
			img {
				width: 180px;
			}
		}
		
		.service-text {
			width: 60%;
			
			p:first-of-type {
				margin-bottom: .3rem;
			}
		}
	}
}
