/* ---------- Hero ----------- */
#home-hero {
	position: relative;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 100vh;
	z-index: -1;


	.overlay {
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		background: #000;
		opacity: .3;
	}
		
	.title {
		position: absolute;
		color: $white;
		top: 30%;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;

		h1 {
			font-weight: 500;
			margin: 0;
			font-size: calc(3rem + 4vw);
		}

		p {
			margin-top: -.9rem;
			font-size: calc(1.3rem + .9vw);
		}
	}
}

/* ---------- Services ----------- */
#services {
	max-width: 1000px;
	margin: 1rem auto;

	.service {
		display: flex;
		max-width: 80%;
		margin: 3rem auto;
		position: relative;

		.service-img-container {
			width: 40%;
			margin: 1rem auto;

			img {
				width: 170px;
			}
		}

		.service-text {
			margin: 1rem auto;
			width: 60%;
			position: relative;
			text-align: center;

			p:first-of-type {
				margin-bottom: .3rem;
			}

			.description {
				text-align: justify;
				overflow: hidden;
				transition: all .5s ease-in-out;
				line-height: 0;
				color: transparent;

				&.show {
					line-height: 1.5;
			  		padding-top: 1em;
			  		padding-bottom: 1em;
			  		color: $primary;
				}
			}

			.btn-outline {
				margin: 1rem auto;
				display: block;
			}
		}
	}
}
