/* ---------- Main Footer ----------- */
#main-footer {
	// Making the footer always stick to the bottom of the page
    margin-top: auto;
	text-align: center;
	padding: 1.5rem 0;
	margin-right: 0 !important;
	margin-left: 0 !important;
	width: 100%;
	background: $primary;

	h4 {
		margin: 1rem 0.5rem ;
		font-size: 1.8rem;
	}

	a {
		color: $light;
		text-decoration: none;

		&:hover {
			color: darken($light, 8);
		}
	}

	.foot-contacts {
		.footer-link:hover {
			left: 0 !important;
		}
	}

	.links {
		margin-top: 1.5rem;
		
		.link {
			padding: .2rem 0;
			justify-content: center;
			display: flex;

			img {
				padding-left: .5rem;
				width: 1.1%;
			}

			.angle {
				left: 0;
				transition: left .2s ease-in-out;
	
				&:hover {
					left: 4px;
				}
			}
		}
	}

	.footer-link {
		position: relative;
    	display: block;
		padding-right: .8rem;
		padding-left: .8rem;

	}

	@media only screen and (max-width: 450px) {
	}
}

// Making the footer always stick to the bottom of the page
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
