/* ---------- Main Footer ----------- */
#main-footer {
	// Making the footer always stick to the bottom of the page
    margin-top: auto;

	padding: 2rem 0;
	margin-right: 0 !important;
	margin-left: 0 !important;
	width: 100%;
	background: $dark-primary;

	h4 {
		margin: 1rem 0.5rem ;
		font-size: 1.8rem;
	}

	a {
		color: $light;
		text-decoration: none;

		&:hover {
			color: darken($light, 8);
		}
	}

	.footer-link {
		position: relative;
    	left: 0;
    	transition: left .2s ease-in-out;
    	//color: $white;
    	display: inline-block;
		padding-right: .8rem;
		padding-left: .8rem;

		&:hover {
			left: 4px;
		}

		svg {
			margin-right: .3rem;
		}
	}

	//.footmenu hr {
	//	height: 18vh; 
	//	width: 1px;
	//	margin-left: 0.7rem;
	//
	//}

	//.footinput input  {
	//	background-color: transparent;
	//	border-color: transparent;
	//	border-bottom-color: rgb(252, 252, 252);
	//}

	//.footinput button{
	//	height: 30%;
	//	background-color: transparent;
	//	border-color: transparent;
	//}

	@media only screen and (max-width: 450px) {
		//.footinput {
		//	margin: 1rem 0;
		//	margin-bottom: 2rem;
		//}

		//.footmenu {
		//	margin: 0.5rem 0;
		//	margin-bottom: 0;
		//}
	}
}

// Making the footer always stick to the bottom of the page
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
