/* ---------- Main Navbar ----------- */
#main-navbar {
	position: fixed;
	top: 0;
	left: 0;
	background-color: $light-primary;
	padding: 1rem 1.5rem;
	width: 100vw;
	z-index: 80;
	display: flex;
	justify-content: space-between;
    align-items: center;

	.logo {
		display: inline-block;
		width: 80px;
	}

	.links {
		display: inline-block;
		margin-right: 3.5rem;

		a {
			color: $secondary;
			font-size: 1.2rem;
			padding: .5rem .8rem;
			text-decoration: none;

			&:hover {
				color: $dark-gray;
			}

			&.active {
				color: $dark-gray;
			}
		}
	}

	@media screen and (max-width: 992px) {
		padding-bottom: 1.3rem;

		h1 {
			font-size: 2rem;
			margin-left: 4rem;
		}

		h3 {
			font-size: 0.6rem;
			margin-left: 7rem;
			margin-top: 2.5rem;
		}

		.logo {
			margin-left: 0.6rem;
			width: 40px;
			height: 40px;
		}

		.nav-links {
			display: none !important;
		}
	}
}


/* ---------- Main sidebar ----------- */
#main-sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	z-index: 120;
	background-color: $dark-primary;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 1rem;

	.nav-link {
		text-decoration: none;
		font-size: 1.2rem;
		color: $secondary;
		display: block;

		&.active {
			color: $dark-gray;
		}
	}

	.close-btn {
		position: absolute;
		top: -1rem;
		right: 15px;
		margin-top: 0.5rem;
		margin-left: 1rem;
		text-decoration: none;
		font-size: 3rem;
		color: $secondary;
		transition: 0.3s;

		&:hover {
			color: $very-dark-primary;
		}
	}
}

#sidebar-open-btn {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	font-size: 20px;
	cursor: pointer;
	background-color: transparent;
	color: $very-dark-gray;
	padding: 1rem 2rem;
	border: none;
	z-index: 100;

	&:hover {
	}

	@media screen and (max-width: 992px) {
		& {
			display: inline-block;
		}
	}
}

