/* ---------- Main Footer ----------- */
#main-footer {
	// Making the footer always stick to the bottom of the page
    margin-top: auto;
	text-align: center;
	//padding: 1.5rem 0;
	margin-right: 0 !important;
	margin-left: 0 !important;
	width: 100%;
	background: $primary;

	.container {
		max-width: 800px;
		margin: 1.5rem auto;
	}

	a {
		color: $light;
		text-decoration: none;

		&:hover {
			color: darken($light, 12);
		}
	}

	.contacts a {
		display: block;
		padding: .1rem 0;
	}

	.links {
		margin-top: 1.5rem;
		text-align: center;

		.link {
			position: relative;
			left: 0;
			padding: .2rem 0;
			display: block;
			transition: left .2s ease-in-out;

			&:hover {
				left: 4px;
			}

			img {
				padding-left: .5rem;
				width: 18px;
			}
		}
	}

	@media only screen and (max-width: 450px) {
	}
}

// Making the footer always stick to the bottom of the page
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
