/* ---------- Main Navbar ----------- */
#main-navbar {
	position: fixed;
	top: 0;
	left: 0;
	background-color: $primary;
	padding: 1rem 1.5rem;
	width: 100vw;
	z-index: 80;
	display: flex;
	justify-content: space-between;
    align-items: center;

	.logo {
		display: inline-block;
		width: 200px;
	}

	.links {
		display: inline-block;

		a {
			color: $white;
			font-size: 1.15rem;
			margin: .5rem .8rem;
			text-decoration: none;

			&:hover,
			&.active {
				color: $light-gray;
			}
		}
	}

	#navbar-toggler {
		display: none;
		background: transparent;

		span {
			width: 1.6rem;
    		height: .2rem;
    		background: $white;
    		border-radius: 4rem;
    		margin-bottom: .3rem;
    		display: block;
			transform: translate(0, 0);
    		transition: transform .3s ease-in-out;

			&:last-of-type {
				margin: 0;
			}
		}

		&.navbar-expanded {
			span {
				width: 1.6rem;
    			height: .2rem;
    			background: $white;
    			border-radius: 4rem;
    			margin-bottom: .3rem;
    			display: block;
    			transition: all .3s ease-in-out;

				&:first-of-type {
					transform: rotate(45deg) translate(0.7rem);
				}

				&:nth-of-type(2) {
					opacity: 0;
				}

				&:last-of-type {
					transform: rotate(-45deg) translate(0.7rem);
				}
			}
		}
	}

	@media screen and (max-width: 800px) {
		#navbar-toggler {
			display: inline-block;
		}

		.links {
			position: fixed;
			opacity: 0;
			width: 100vw;
			//height: calc(100vh - 70px);
			height: 0;
			bottom: 0;
			left: 0;
			background: $primary;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			padding-bottom: 30vh;
			transition: height .4s ease-in-out, opacity .35s ease-in-out;

			a {
				font-size: 2rem;
			}
		}
	}
}
