/* ---------- Messages ----------- */
#msgs-container {
    position: fixed;
    top: 5rem;
    right: .2rem;
    z-index: 2000;

    .msg {
        position: relative;
		padding: .7rem 2.4rem .7rem 1rem;
        font-size: 1.1rem;
        border-radius: 0.7rem;
		margin-bottom: .7rem;
		background: $light-blue;

		&.msg-success {
			background: $light-green;
		}

		&.msg-fail {
			background: $light-red;
		}

        .btn-close {
            position: absolute;
            right: .8rem;
            top: 1rem;
        }
    }
}
