/* ---------- Btn Circle ----------- */
.btn-circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: .375rem !important;
    text-align: center !important;
}


/* ---------- No Scroll ----------- */
.no-scroll {
  height: 100%;
  overflow: hidden;
}


/* ---------- Info Btn ----------- */
.info-btn {
	display: inline-block;
	background: none;
	border: none;
	padding: 0;
	color: $primary;
    font-size: 1.1rem;

	&:hover {
		color: $dark-primary;
	}

	svg {
		pointer-events: none;  // Fixes the popover
	}
}


/* ---------- Icon ----------- */
.icon {
	width: 16px;
	height: 16px;
	margin-bottom: -2px;
}


/* ---------- Arrow Link ----------- */
.arrow-link {
	text-decoration: none;
	color: $primary;
	position: relative;
	font-size: 1.15rem;
	display: block;

	.arrow {
		position: absolute;
    	top: 13px;
    	margin-left: 10px;
    	width: 42px;
    	height: 2px;
    	background: currentColor;
    	transition: all 0.15s ease-in-out;

		&::before,
		&::after {
			content: '';
    		display: inline-block;
    		position: absolute;
    		right: -1px;
    		width: 12px;
    		height: 2px;
    		background: currentColor;
		}

		&::before {
			transform: rotate(135deg);
    		top: 4px;
		}

		&::after {
			transform: rotate(-135deg);
			top: -4px;
		}
	}

	&:hover .arrow {
		width: 56px;
	}

	@media only screen and (max-width: 400px) {
		font-size: .9rem;

		.arrow {
			top: 10px;
			width: 30px;
    		height: 1.5px;
			margin-left: 7px;

			&::before,
			&::after {
				width: 10px;
				height: 1.5px;
			}

			&::before {
				transform: rotate(135deg);
    			top: 3.5px;
			}

			&::after {
				transform: rotate(-135deg);
				top: -3.5px;
			}
		}

		&:hover .arrow {
			width: 45px;
		}
	}
}


/* ---------- Fluid Image ----------- */
.img-fluid {
	max-width: 100%;
	height: auto;
}


/* ---------- Loader ----------- */
.lds-ellipsis {
	display: inline-block;
	position: relative;
  	width: 80px;
  	height: 80px;
	margin: auto;

  	div {
		position: absolute;
  		top: 33px;
  		width: 13px;
  		height: 13px;
  		border-radius: 50%;
  		background: #fff;
  		animation-timing-function: cubic-bezier(0, 1, 1, 0);

		&:nth-child(1) {
			left: 8px;
			animation: lds-ellipsis1 0.6s infinite;
		}

		&:nth-child(2) {
			left: 8px;
			animation: lds-ellipsis2 0.6s infinite;
		}

		&:nth-child(3) {
			left: 32px;
			animation: lds-ellipsis2 0.6s infinite;
		}

		&:nth-child(4) {
			left: 56px;
			animation: lds-ellipsis3 0.6s infinite;
		}
	}
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}


/* ---------- Buttons ----------- */
.btn {
	cursor: pointer;
	border: none;
	text-decoration: none;
	text-align: center;
	font-size: 1.1rem;
    padding: .7rem 1rem;
	//padding: 0.4rem .8rem;
	background-color: $primary;
	color: $white;
	transition: background .2s ease-in-out;

    &:hover {
		background-color: lighten($primary, 14);
	}
}

.btn-outline {
	@extend .btn;
	background: transparent;
	color: $secondary;
	border: 1.85px solid $secondary;
	transition: color .2s ease-in-out, background .2s ease-in-out;

	&:hover {
		background: $secondary;
		color: $white;
	}
}


/* ---------- Display Flex Helper Class ----------- */
.flex {
	display: flex;
}


/* ---------- Heading Underlined ----------- */
.heading-underlined {
	text-align: center;

    &::after {
        content: '';
        background: $secondary;
        width: 100px;
        height: 2px;
        margin: 1.5rem auto 1.8rem;
        display: block;
    }
}


/* ---------- Flatpickr Colors ----------- */
.flatpickr-day.selected,
.flatpickr-day.selected:hover {
	background: $primary;
	border: none;
}
