@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* ---------- Overwriting some stuff ----------- */
* {
	font-family: 'Ubuntu', sans-serif;
}

*, ::after, ::before {
    box-sizing: border-box;
}

*:focus {
	outline: none;
}

::selection {
    background: $primary;
    color: $light !important;
}

html,
body {
    width: 100%;
    height: 100%;
	margin: 0;
    scroll-behavior: smooth;
}

body {
	margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $primary;
    background-color: $white;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

a {
    color: $primary;
    transition: color .2s ease-in-out;

    &:hover {
        text-decoration: none;
    }

    &.link-muted {
        color: $secondary;
    }
}

button {
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
	font-size: calc(1.375rem + 1.5vw);
}

h2 {
	font-size: calc(1.325rem + .9vw);
}

h3 {
    font-size: calc(1.3rem + .6vw);
}

h4 {
    font-size: calc(1.275rem + .3vw);
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
	margin-top: 0;
    font-size: 1.1rem;
}

li {
	font-size: 1.1rem;
}

// Removing the x icon in the search fields
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

// Crispy ass images
img {
	//image-rendering: pixelated;
	image-rendering: crisp-edges;
	image-rendering: -moz-crisp-edges;  // Firefox
	image-rendering: -o-crisp-edges;  // Opera
	image-rendering: -webkit-optimize-contrast;  // Webkit (non-standard naming)
	-ms-interpolation-mode: nearest-neighbor;  // IE (non-standard property)
}
