@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* ---------- Overwriting some stuff ----------- */
* {
	font-family: 'Ubuntu', sans-serif;
}

*:focus {
	outline: none;
}

::selection {
    background: $primary;
    color: $light;
}

html,
body {
    width: 100%;
    height: 100%;
	margin: 0;
    scroll-behavior: smooth;
}

a, .btn-link {
    color: $primary;
    transition: color .2s ease-in-out;

    &:hover {
        text-decoration: none;
    }

    &.link-muted {
        color: $secondary;
    }
}

.btn {
	text-decoration: none;
    padding: .6rem .4rem;
	background: $primary;
	color: $light;
	transition: background .2s ease-in-out;

    &:hover {
		background: lighten($primary, 3%) !important;
	}
}

p {
    font-size: 1.1rem;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

//@include media-breakpoint-down(sm) {
//	.form-check-label {
//		margin: 0;
//	}
//}

// Removing the x icon in the search fields
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

// Crispy ass images
img {
	//image-rendering: pixelated;
	image-rendering: crisp-edges;
	image-rendering: -moz-crisp-edges;  // Firefox
	image-rendering: -o-crisp-edges;  // Opera
	image-rendering: -webkit-optimize-contrast;  // Webkit (non-standard naming)
	-ms-interpolation-mode: nearest-neighbor;  // IE (non-standard property)
}

// Flatpickr colors
.flatpickr-day.selected,
.flatpickr-day.selected:hover {
	background: $primary;
	border: none;
}
