$navbar: rgb(9, 9, 29);
$white: rgb(255, 255, 255);
$mid-white: rgb(231, 231, 231);

html,
body {
    font-family: 'Raleway';
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    padding: 1rem;
    background-color: $navbar;
    opacity: 0.8;
    a {
        font-size: 1.2rem;
        color: $white;
        text-decoration: none;
    }
    a:hover {
        color: $mid-white;
    }
}

.segment2 {
    z-index: -1;
    position: relative;
    .blackbg {
        background-color: black;
        position: absolute;
        z-index: -2;
    }
    .home-bg {
        position: absolute;
        z-index: -6;
        opacity: 0.8;
        height: 600px !important;
    }
    .title {
        position: relative;
        justify-content: center;
        text-align: center;
        margin: auto;
        color: $mid-white;
        z-index: 1;
        h5 {
            font-size: 1rem;
            margin-left: 5rem;
        }
    }
}
